.container {
    width: 30% !important;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(-90deg, #121213, #191924 50%);
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    gap: 1rem;
    img {
        width: 40%;
        border-radius: 20px;
    }
    label {
        font-size: 1rem;
        font-weight: 600;
    }
}