@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Titillium+Web:wght@300;400&display=swap');

@keyframes transitionGradient {
    from {
        background: -webkit-linear-gradient(48deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    to {
        background: -webkit-linear-gradient(48deg, rgba(108,244,246,1) 0%, rgba(255,56,137,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container {
    // background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        font-family: 'Bebas Neue', cursive;
        font-size: 2rem;
        border-bottom: 2px solid #fff;
    }

    .container_subtitle {
        margin: 2rem 0;
        width: 100%;
        max-width: 1110px;
        padding: 1rem 0px;

        h2 {
            text-align: left;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 2rem;
            margin-top: 3rem;
            // background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background: -webkit-linear-gradient(-45deg,  #23a6d5, #e73c7e 30%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400% 400%;
            // animation: gradient 15s ease infinite;
            display: inline-block;
        }
        span {
            font-size: 3.5rem;
            padding-left: 1rem;
        }
    }

    .container_projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        width: 100%;
    }
}